@font-face {
    font-family: "Inter";
    src: url(../style/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-sb";
    src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}


body {
    background-color: #F4F5FA;
}


.Login {
    width: 100%;
    height: 100vh;
    background-color: #F4F5FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 121px;
    font-family: "Inter";

    p {
        margin: 0;
    }

    &_top {
        height: 76px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 86px;
        box-sizing: border-box;
        background-color: #fff;
    }

    &_form {
        padding: 44px 34px;
        gap: 10px;


        width: 443px;
        height: 627px;

        background: #FFFFFF;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        &_submitForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 32px;

            div {
                position: relative;

                img {
                    position: absolute;
                    top: 14px;
                    left: 18px;
                }

                input {
                    height: 52px;
                    width: 100%;
                    line-height: 52px;
                    padding-left: 56px;
                    gap: 10px;

                    /* Input/defaultBackground */

                    background: rgba(239, 241, 249, 0.6);
                    border-radius: 8px;
                    box-sizing: border-box;
                    border: none;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;

                    /* Black/2 */

                    color: #ABAFB1;

                    /* Black/2 */

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;

                        /* Black/2 */

                        color: #ABAFB1;
                    }


                }

                button {
                    width: max-content;
                    position: absolute;
                    top: 35px;
                    right: 15px;

                    i {
                        width: 14px;
                        transition: all 0.75s;
                        color: #000000;
                    }
                }
            }



        }

        button {
            margin-top: -20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            text-align: center;

            /* Primary/100 */

            color: #5570F1;
            background-color: transparent;
            border: none;
            align-self: flex-end;
        }

        .Submit {
            width: 180px;
            height: 58px;

            /* Primary */

            background: #5570F1;
            border-radius: 12px;
            border: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            color: #FFFFFF;
            text-transform: capitalize;
            align-self: center;
        }
    }


}

.title {
    font-family: 'Poppins-sb';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #000000;

    span {
        color: #5570F1;
    }

    // "C:/k.jpeg",
}

.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    /* Black/30 */

    color: #8B8D97;
}


.Navbar {


    width: 296px;
    height: 100vh;
    padding: 32px 24px;
    box-sizing: border-box;

    background: #FFFFFF;
    text-align: left;

    &_logo {
        display: flex;
        width: 100%;
        align-items: center;
        padding-left: 14px;

    }

    &_links {
        width: 233px;
        margin: 0;
        padding: 0;
        list-style: none;




        .solo {
            margin: 0;
            width: 100%;
            height: 56px;
            line-height: 56px;
            margin: 2px;
            display: block;
            position: relative;
            border-radius: 12px;
            text-align: center;



            .light {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #fff;
                color: #5570F1;
                z-index: 2;
                box-sizing: border-box;
                border-radius: 12px;
                transition: all 0.3s;
                transform: scale(1);

                span {
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    margin: 0;
                    border-radius: 50%;
                    background: #FFCC91;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    margin-top: -5px;
                    margin-left: 5px;

                }


                img:first-child {
                    width: auto;
                    margin-left: 22px;
                }

                img:nth-child(2) {
                    width: 0;
                    margin-right: 22px;
                }

                &:hover {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: #5570F1;
                    color: #fff;
                    z-index: 2;
                    box-sizing: border-box;
                    border-radius: 12px;
                    transition: all 0.3s;
                    transform: scale(1);

                    img:first-child {
                        width: 0;
                    }

                    img:nth-child(2) {
                        width: auto;
                    }
                }

            }

            .active {
                width: 100%;
                height: 100%;
                background-color: #5570F1;
                color: #fff;
                z-index: 2;
                box-sizing: border-box;
                border-radius: 12px;
                transition: all 0.75s;

                img:first-child {
                    width: 0;
                }

                img:nth-child(2) {
                    width: auto;
                }
            }





        }


    }
}


.Home {
    width: 100%;
    display: flex;
}




.Navigation {
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    padding: 0 21px;
    background-color: #fff;
    box-sizing: border-box;

    &_top {
        height: 60px;
        display: flex;
        justify-content: space-between;

        &_name {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */


            /* Black/60 */

            color: #45464E;
        }

        &_profile {
            width: max-content;
            display: flex;
            gap: 23px;
            align-items: center;

            select {
                width: 154px;
                height: 32px;
                margin-top: 8px;
                background-color: #FEF5EA;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */


                /* Black/100 */

                color: #1C1D22;
                padding: auto 13px;
                border-radius: 5px;
                border: 1px solid #000;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &_bottom {
        height: 24px;
        padding: 0px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        gap: 5px;

        p {
            margin: 0;
            line-height: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */


            /* Black/30 */

            color: #8B8D97;
            word-spacing: 5px;
        }
    }
}


.OrderSummary {
    width: 100%;


    &_top {
        width: 100%;
        height: 82px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;


        button {
            width: 200px;
            height: 36px;

            /* Primary */

            background: #5570F1;
            border-radius: 12px;
            line-height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            /* identical to box height */

            display: flex;
            align-items: center;
            text-align: center;

            color: #FFFFFF;
            border: none;
        }
    }

    &_summaries {
        display: flex;
        justify-content: space-around;
    }
}


.Summary {
    padding: 11px 15px;
    gap: 10px;

    width: 475.5px;
    height: 145px;

    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_top {
        height: 36px;
        display: flex;
        justify-content: space-between;

        img {
            width: 20px;
            padding: 8px;
            background-color: hsla(32, 100%, 78%, 0.16);
            border-radius: 8px;
        }


        .buttons {
            display: flex;
            align-items: center;
            position: relative;

            button {
                min-width: 82px;
                height: 36px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: transparent;
                border: none;
                background-color: #45464e0f;
                border-radius: 8px;
                text-align: center;

                svg {
                    transition: all 0.75s;
                }
            }

            &_hide {
                width: 82px;
                display: flex;
                flex-direction: column;
                position: absolute;
                margin-top: 175px;
                // margin-left: 100%;
                gap: 5px;

                button {
                    height: 30px;
                    justify-content: center;
                }
            }
        }
    }

    &_down {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;

        .block {
            height: 55px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            p {
                margin: 0;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */


                /* Black/30 */

                color: #8B8D97;
            }

            &_display {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 7px;

                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    /* identical to box height */

                    display: flex;
                    align-items: center;

                    /* Action/Red */

                    color: #CC5F5F;
                }

                .num {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    /* identical to box height */
                    line-height: 1em;

                    /* Black/60 */

                    color: #45464E;
                }
            }
        }

    }
}